body {
  margin: 0;
  padding: 0;
}
.cible{
  cursor: crosshair;
}
#map {
  z-index: 1;
  height: 100vh;
}

#panel {
  z-index: 9;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

#panel-content {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
}

h1 {
  margin: 0;
}

div#panel-content.open {
  width: 300px;
}

#close {
  font-size: 36px;
    cursor: pointer;
}

#menu {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  margin: 15px;
  z-index: 8;
  cursor: pointer;
  background-color: white;
  padding: 0;
  border: 2px solid grey;
}
.new-point {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin: 10px;
}
.new-point a, .new-point button {
  margin: 5px;
}
#menu > i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5em;
}

.hidden {
  display: none;
}

.leaflet-top.leaflet-left {
  top: calc(100vh - 100px);
  left: calc(100vw - 100px);
}
#panel-content-header-title{
  font-weight: bold;
  padding: 0;
  border-bottom: grey 1px solid;
  display: flex;
    justify-content: space-around;
    align-items: center;
  flex-wrap: nowrap;

}
#panel-content-header-title > h1{
  margin: 5px;

}
#panel-content-body{
}

button.accordion-button{
border-radius: 0;
}
.list-group-item{
  padding: 3px;
  cursor: pointer;
  border: 1px solid #dee2e6;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.list-group-item:hover{
  background-color: #f8f9fa;
}