<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MONKEYMAP - LOGIN</title>
    <link rel="stylesheet" href="css/login.css">
</head>
<body>

<h1>MONKEYMAP</h1>
<h2>LOGIN</h2>
<div>
    <form action="/login" method="post" id="form">
        <label for="username">Username</label>
        <input type="text" name="username" id="username">
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
        <p id="err">ERROR</p>
        <input type="submit" value="Login" id="sub">
    </form>
</div>

</body>
</html>