body{
  margin: 0;
  padding: 0;
}
#map {
  z-index: 1;
  height: 100vh;
}


.panel{
  z-index: 2;
    position: absolute;
    padding: 10px;
    background: url("../icons/img.png");
  color : white;
}
.panel-right{
  bottom: 0;
  right: 0;
  border-top-left-radius: 10px;
  width: 50vw;
  height: 190px;
  ul{
    height: 100px;
    display: block;
    overflow: scroll;
  }
}